body{
    margin: 0;
    padding: 0;
}

header{

    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color:#984c94;
}

.bemvindo{
    margin-right: 45px;
}

.section {
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: space-around;
    background-color: #984c94;
    
}

.menu{
    display: flex;
    flex-direction: column;
    margin-left: -350px;
    background-color: aqua;
    height: 500px;
    margin-top: -30px;
}

.menu--item{
    padding: 8px;
    margin: 5px;
    width: 300px;
    background-color: red;
}

